/* General Styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  .text-special {
    margin-right: 13rem;
    font-size: 2rem;
    font-weight: bold;
    background-image: linear-gradient(to right, #8750f7 0%, #ffffff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    margin-top: 2rem;
}
  
  .container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .pt-16 {
    padding-top: 4rem;
  }
  
  .pb-16 {
    padding-bottom: 4rem;
  }
  
  .bg-dark {
    background-color: #050709;
  }
  
  .bg-form {
    background-color: #140c1c;
  }
  
  .rounded-lg {
    border-radius: 0.5rem;
  }
  
  .p-4 {
    padding: 1rem;
  }
  
  .p-10 {
    padding: 2.5rem;
  }
  
  .text-heading {
    color: #ffffff;
    font-size: 2rem;
    font-weight: bold;
  }
  
  .text-paragraph {
    color: #c4c4c4;
    margin-top: 1rem;
    font-size: 0.875rem;
  }
  
  /* Updated margin-top for consistent spacing */
  .mt-10 {
    margin-top: 5rem; /* Adjusted from 10rem to avoid excessive spacing */
  }
  
  .w-full {
    width: 100%;
  }
  
  .h-auto {
    height: auto;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2.5rem;
  }
  
  @media (min-width: 768px) {
    .grid-container {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  .form-input {
    background-color: #000000;
    color: #ffffff;
    padding: 0.75rem 1.5rem;
    border: 1.5px solid rgba(200, 200, 200, 0.5);
    border-radius: 0.375rem;
    outline: none;
    width: 100%;
    margin-top: 1.25rem;
    font-size: 0.875rem;
  }
  
  textarea.form-input {
    resize: none;
  }
  
  .form-button {
    padding: 0.75rem 1.5rem;
    background-color: #7947df;
    color: #ffffff;
    border-radius: 2rem;
    cursor: pointer;
    transition: background-color 0.3s;
    border: none;
  }
  
  .form-button:hover {
    background-color: #5c2fb7;
  }
  
  .flex-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  @media (min-width: 768px) {
    .flex-container {
      flex-direction: row;
    }
  }
  
  /* Updated icon size */
  .icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #10b981, #065f46);
    width: 3rem; /* Updated width */
    height: 3rem; /* Updated height */
    border-radius: 50%;
  }
  
  .text-icon {
    color: #ffffff;
    font-size: 1.5rem; /* Adjusted for better visibility with larger icons */
  }
  
  .text-details {
    color: #c4c4c4;
    font-size: 1rem;
    opacity: 0.7;
  }
  
  /* Adjusted margin for other elements */
  .mt-8 {
    margin-top: 3rem; /* Adjusted for better spacing */
  }
  
  .mt-5 {
    margin-top: 2rem; /* Slightly increased for better vertical alignment */
  }
  